[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "data/PeterLemon"]
	path = data/PeterLemon
	url = https://github.com/PeterLemon/PSX.git
[submodule "data/SDL_GameControllerDB"]
	path = data/SDL_GameControllerDB
	url = https://github.com/mdqinc/SDL_GameControllerDB.git
